/* Tablas */

.table, .table__data, .table__head{
    border: 1px solid black;
    border-spacing: 10px;
}

.table{
    border-collapse: collapse;
}

.table__data{
    background-color: greenyellow;
}

.table-container{
    overflow-x: auto;
}