/*Maquetar con BEM*/
.titulo{
    text-align: center;
    font-size: 3em;
    background-color: violet;
    height: 80px;
}

.cabecera{
    background-color: coral;
    height: 75px;
}

.cabecera-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.cabecera-menu__item{
 line-height: 3;

}

.cabecera-menu__item:active{
 background-color: blue;
}

.cabecera-menu__link{
text-decoration: none;
font-size: 20px;
color: greenyellow;
}



.principal{
    background-color: turquoise;
    height: 300px;
}

.piedepagina{
    background-color: wheat;
    height: 200px;
}

/*Forma incorrecta de maquetar el menu
nav ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
    */

nav ul li{
    line-height: 3;
}

nav ul li a{
    text-decoration:  none;
    font-size: 20px;
}