/*Alineamientos*/
body{
    font-family: sans-serif;
    background-image: radial-gradient(circle, violet, black);
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

.grid-item{
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    height: 80vh;
    border: 3px solid greenyellow;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    justify-items: end;
    align-items: end;
    align-content: space-between;
    
}