body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    background-image: radial-gradient(circle, blue, black);
    min-height: 100vh;
}

.header {
    background: aqua; /* O cualquier color que desees */
    padding: 10vmin;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.footer {
    background-color: aqua;
    color: black;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: auto; /* Mantiene el pie de página abajo */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Cambiar el min-width según sea necesario */
    grid-gap: 2rem;
    padding: 1rem;
    flex-grow: 1; /* Permite que el grid ocupe el espacio disponible */
}

.galery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Usar min-width de 320px */
    grid-gap: 2rem;
    padding: 1rem;
}

.galery img {
    width: 100%;
    height: auto; /* Mantener proporciones */
    object-fit: cover;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 1rem; /* Espacio entre columnas */
    padding: 1rem; /* Espacio interno */
    color: white;
    font-family: cursive;
    grid-column: 1 / -1; /* Asegura que el texto ocupe toda la fila */
}

/* Media query para ajustar el número de columnas en pantallas más pequeñas */
@media (max-width: 900px) {
    .text-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .text-container {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}
